
header {
  background-color: lightsteelblue;
}

h1 {
  padding: 20px;
  text-align: center;
}

section {
  padding: 20px;
}

.headerRow,
tfoot {
  background-color: lightsteelblue;
}

.warning {
  background-color: red;
}

h3 {
  float: right;
}

#totalMonthly {
  padding-right: 10px;
}

#tableTitle {
  padding-left: 10px;
}
